<template>
    <div class="text-info">
        <center><h1><b><u>Nos Photos</u></b></h1></center>
          <hr>
    </div>
    <div class="text-info">
        <center>
            <h2>Oops ! Cette page est encore en travaux !</h2>
            <p>Pas de panique, Super Idol est sur le coup. D'excitantes photos sortiront tout droit du four (à 105°C) d'ici peu !</p>
        </center>
    </div>
    <img src="../../../static/images/backgrounds/work-in-progress.png" class="img-fluid" alt="Meilleur">

</template>