<template>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calcul</h5>
        <!-- Croix pour quitter la fenêtre -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          click.trigger="cancel()"></button>
      </div>
      <form>
        <div class="modal-body">
          <p>Voulez-vous calculer le double de</p>
          <div class="mb-3">
            <label for="unEntier" class="form-label">cet entier</label>
            <input
              type="text"
              class="form-control"
              id="unEntier"
              input-mask="integer"
              value.one-time="unEntier | numberFormat: { digits:0 }"
              value.from-view="unEntier | cleanInputMask" />
          </div>
        </div>
        
        <div class="modal-footer">
          <button class="btn btn-primary" click.trigger="confirm()">Oui</button>
          <button class="btn btn-secondary" click.trigger="cancel()">Non</button>
        </div>
      </form>
    </div>
  </div>
</template>
