<template>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quiz</h5>
          <!-- Croix pour quitter la fenêtre -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            click.trigger="cancel()"></button>
        </div>
        <form>
        <div class="modal-body">
            <p>Quel est le nom de cet idol ?</p>
            <div class="mb-3">
                <label for="unEntier" class="form-label">Entrez votre réponse :</label>
                <input
                type="text"
                pattern="[A-Z]*"
                class="form-control"
                id="unEntier"
                value.one-time="unEntier"
                value.from-view="unEntier" />
                <br>
                <img src="../../../static/images/backgrounds/loading-bg2.jpg" class="rounded mx-auto d-block" alt="Déconcentration">
            </div>
          <div class="modal-footer">
            <button class="btn btn-primary" click.trigger="confirm()">Oui</button>
            <button class="btn btn-secondary" click.trigger="cancel()">Non</button>
          </div>
        </form>
      </div>
    </div>
  </template>
  