<template>

  <div class="text-info">
    <center><h1><b><u>Nos Projets</u></b></h1></center>
      <hr>
  </div>

  <div class="container-fluid text-info">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3" style="border:0px solid 
    #ddd">
          <img src="../../../static/images/backgrounds/robotech-kidikitbot.png" alt="Kidikitbot" class="img-thumbnail">
        </div>
        <div class="col-xl-7 col-lg-6 col-md-6" style="border:0px solid 
    #ddd">
          <center>
            <h2><b>Kidikitbot</b></h2>
            <br>
            <p><i>"Il s'agit d'un robot a visée pédagogique pour apprendre les bases de l'électronique, informatique et mécanique."</i>
            </p>
          </center>
        </div>
      </div>
    </div>

  <div class="text-info">
      <hr>
  </div>

  <div class="container-fluid text-info">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3" style="border:0px solid 
  #ddd">
        <img src="../../../static/images/backgrounds/robotech-gant.png" alt="Gant" class="img-thumbnail">
      </div>
      <div class="col-xl-7 col-lg-6 col-md-6" style="border:0px solid 
  #ddd">
        <center>
          <h2><b>Gan'gue des Signes</b></h2>
          <br>
          <p><i>"Nous avons créé un gant muni de capteurs flexibles, constitué de résistances variables en fonctions de la pliure du capteur.
             Ainsi, le but était de pouvoir traduire les mouvements de la langue des signes."</i>
          </p>
        </center>
      </div>
    </div>
  </div>

    <div class="text-info">
      <hr>
  </div>

  <div class="container-fluid text-info">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3" style="border:0px solid 
  #ddd">
        <img src="../../../static/images/backgrounds/robotech-tibo.png" alt="Tibo" class="img-thumbnail">
      </div>
      <div class="col-xl-7 col-lg-6 col-md-6" style="border:0px solid 
  #ddd">
        <center>
          <h2><b>Tibo</b></h2>
          <br>
          <p><i>" Tibo est un robot pédagogique capable de se déplacer librement dans une salle de classe en évitant les obstacles.
             Il peut également être piloté à distance via une application Bluetooth. 
            Son design permet aux enfants de comprendre facilement son fonctionnement. "</i>
          </p>
        </center>
      </div>
    </div>
  </div>
    <br><br>
</template>