<template>

  <div class="text-info">
    <center><h1><b><u>Notre Actualité</u></b></h1></center>
      <hr>
  </div>

  <div class="container-fluid text-info">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3" style="border:0px solid 
    #ddd">
          <img src="../../../static/images/backgrounds/robotech-assos.png" alt="Assos" class="img-thumbnail">
        </div>
        <div class="col-xl-7 col-lg-6 col-md-6" style="border:0px solid 
    #ddd">
          <h2><u>Découverte des assos de Polytech Sorbonne </u></h2>
          <p>Vivez l'intégration de la rentrée 2022 !
          </p>
        </div>
      </div>
    </div>

  <div class="text-info">
      <hr>
  </div>

  <div class="container-fluid text-info">
      <div class="row">
        <div class="col-xl-3 col-lg-5 col-md-5" style="border:0px solid 
    #ddd">
              <img src="../../../static/images/backgrounds/robotech-wday.png" alt="Welcome Day" class="img-thumbnail">
        </div>
        <div class="col-xl-7 col-lg-6 col-md-6" style="border:0px solid 
    #ddd">
          <h2><u>Welcome Day 2022 ! </u></h2>
          <p>Venez nous découvrir sur le campus de Jussieu ! 
            Rendez vous le 15 septembre !
          </p>
        </div>
      </div>
    </div>

    <div class="text-info">
      <hr>
  </div>

  <div class="container-fluid text-info">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4" style="border:0px solid 
    #ddd">
          <img src="../../../static/images/backgrounds/robotech-technmeet.png" alt="Tech N Meet" class="img-thumbnail">
        </div>
        <div class="col-xl-7 col-lg-6 col-md-6" style="border:0px solid 
        #ddd">
        <h2><u>Tech'n'Meet édition 2022 ! </u></h2>
          <p>Venez à la rencontre d'entreprises innovantes !
          </p>
        </div>
      </div>
    </div>
    <br><br>

  <!--
  <div class="text-info">
    Boutons Notif et Modal en bas de page
    <br>
    <center>
      <button class="btn btn-primary" click.trigger="show()">NOTIF </button> &nbsp
      <button class="btn btn-secondary" click.trigger="modal()">DOUBLE </button> &nbsp
      <button class="btn btn-secondary" click.trigger="modal2()">QUIZ </button> &nbsp
      <br>
    </center>
    <div>Was Cancelled: ${wasCancelled}</div>
    <div>Output: ${unEntier}</div>
    <div>Result : ${unEntier==="SUPER IDOL"? 'Correct !' : 'Incorrect'}</div>
    <br>
    <center>
      <label>
        <span class="rounded border border-info">
          &nbsp Inspirational Quote : &nbsp
        </span>
        <br><br>
        <select value.bind="InspirationalQuote">
          <option model.bind="null"></option>
          <option repeat.for="q of quotes"
                  model.bind="q">
                  ${q.author}
        </select>
      </label>
      <br><br>
      ${InspirationalQuote.quote}
      <br><br>
      <a class="btn btn-primary ${InspirationalQuote? '': 'disabled'}" href="${InspirationalQuote.link}">Corresponding Reference</a> 
    </div>
  </center>
-->
</template>