<template>
    <div class="text-light">
        <h3><li><b>Equipe 2022-2023 !</b></li></h3>
        <p>
            Nous sommes une équipe de 16 personnes, tous étudiants en quatrième année du cycle ingénieur de l'école Polytech Sorbonne ! 
            Nous venons de spécialités différentes : Robotique, Électronique , Mathématiques et Informatique. 
            Venez nous rencontrer tous les jeudis en salle 324 !
        </p>
        <center>
            <div class="col-xl-6 col-lg-5 col-md-5">
                <button click.delegate="modal()">
                    <img src="../../../static/images/backgrounds/robotech-equipe.png" alt="Equipe" class="img-fluid">
                </button>
            </div>
        </center>
    </div>
    <div class="text-light">
        <h3><li><b>Equipe 2021-2022 !</b></li></h3>
        <center>
            <div class="col-xl-6 col-lg-5 col-md-5">
                <button click.delegate="modal2()">
                    <img src="../../../static/images/backgrounds/robotech-equipe2.png" alt="Equipe2" class="img-fluid">
                </button>
            </div>
        </center>
    </div>    
</template>