<template>
    <!-- Banner Robotech Sorbonne -->
    <div class="container-fluid">
        <img src="../../../static/images/backgrounds/robotech-banner.png" alt="Banner" class='img-fluid'/>
    </div>
    <!-- Banner -->

    <div class="text-info">
        <hr>
    </div>

    <div class="container-fluid text-info">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3" style="border:0px solid 
      #ddd">
            <img src="../../../static/images/backgrounds/robotech-actualites.png" alt="Actualités" class="img-thumbnail">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
            <h2><li>Venez découvrir notre actualité pour cette année 2022-2023 !</li></h2>
            <p>Evenements de rentrée, présentation de l'asso, programme de l'année, rejoindre l'asso... 
                Venez découvrir ce qu'on vous a préparer !
            </p>
          </div>
        </div>
      </div>

    <div class="text-info">
        <hr>
    </div>

    <div class="container-fluid text-info">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
                <h2><li>Robotech en Bref</li></h2>
                <p>Robototech est l'association de robotique de Polytech Sorbonne, regroupant des passionés de 
                    nouvelles technologies ayant l'envie de commencer un projet innovant. 
                    L'association est une des plus anciennes de l'école : elle a été crée en 2006, 
                    année de la création de la spécialité Robotique de l'école.
                </p>
                <br>
                <hr>
                <h3><li>Qui peut venir ?</li></h3>
                <p>Tout le monde est le bienvenu pour faire partie de l'association. 
                    Débutant ou expert, vous trouverez forcément tout ce dont vous aurez besoin !
                </p>
            </div>
          <div class="col-xl-6 col-lg-5 col-md-5" style="border:0px solid 
      #ddd">
            <img src="../../../static/images/backgrounds/robotech-equipe.png" alt="Equipe" class="img-thumbnail">
          </div>
        </div>
      </div>

      <div class="text-info">
        <hr>
    </div>

    <div class="container-fluid text-info">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
                <h2><li>Où nous trouver ?</li></h2>
                <p>Vous pouvez nous retrouver tous les jeudis après midi au bâtiment Esclangon, situé sur le campus de Jussieu ! 
                    Rendez vous en salle 324 !
                </p>
            </div>
            <div class="col-xl-1 col-lg-4 col-md-4">
            </div>
          <div class="col-xl-4 col-lg-4 col-md-4" style="border:0px solid 
      #ddd">
            <img src="../../../static/images/backgrounds/robotech-position.png" alt="Emplacement" class="img-thumbnail">
          </div>
        </div>
      </div>
      <br><br>
</template>