<template>
  <header>
    <!-- Format de la barre principale -->
    <nav class="navbar navbar-dark navbar-expand-sm navbar-static-top fixed-top bg-dark"> 
      <div class="container-fluid">
        <a class="navbar-brand p-0" href="/" aria-label="Action Logement"
          ><img class="navbar-logo" src="../../static/images/robotech-logo.png" title="Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="text-info">
          <a>Robotech Sorbonne</a>

        </div>

        <div class="text-dark">
          <a><ul>Semenzato je t'aime</ul></a>
          
        </div>

        <!-- Chaque onglet de la barre principale -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li repeat.for="route of router.navigation"  class="nav-item">
              <a
                class="nav-link active" href="${route.href}">
                ${route.title}
              </a>
            </li>
          </ul>

        <!--
          <a href="parametre" class="btn btn-outline-light" role="button" aria-pressed="true">
          Paramètres 
          </a>
          &nbsp &nbsp
          <form class="d-flex">
            <button
              class="btn btn-outline-light" type="submit" disabled >Connexion (en cours...)
            </button>
          </form>
        -->
        </div>
      </div>


    </nav>
  </header>
</template>
