<template>
    <div class="text-info">
        <center><h1><b><u>Nous contacter</u></b></h1></center>
          <hr>
    </div>
    <div class="text-info">
        <center>
            <p>Besoin d'informations sur l'association ? Posez toutes vos questions via nos réseaux :</p>
            <hr>
        </center>
    </div>

    <div class="container-fluid text-info">
        <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1" style="border:0px solid 
      #ddd">
        <a href="https://www.instagram.com/robotech.sorbonne/?theme=dark">
            <img src="../../../static/images/backgrounds/instagram-icon.png" alt="Instagram" class="img-thumbnail">
        </a>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
            <p><br>
                @robotech.sorbonne
            </p>
          </div>
        </div>
      </div>
  
    <div class="text-info">
        <hr>
    </div>
  
    <div class="container-fluid text-info">
        <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1" style="border:0px solid 
      #ddd">
        <a href="https://www.facebook.com/RobotechSorbonne">
            <img src="../../../static/images/backgrounds/facebook-icon.png" alt="Facebook" class="img-thumbnail">
        </a>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
            <p><br>
                Robotech Sorbonne
            </p>
          </div>
        </div>
      </div>
  
      <div class="text-info">
        <hr>
    </div>
  
    <div class="container-fluid text-info">
        <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1" style="border:0px solid 
      #ddd">
        <a href="https://www.linkedin.com/company/robotech-sorbonne/">
            <img src="../../../static/images/backgrounds/linkedin-icon.png" alt="LinkedIn" class="img-thumbnail">
        </a>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
            <p><br>
                Robotech Sorbonne
            </p>
          </div>
        </div>
      </div>
      
      <div class="text-info">
        <hr>
    </div>
  
    <div class="container-fluid text-info">
        <div class="row">
          <div class="col-xl-1 col-lg-1 col-md-1" style="border:0px solid 
      #ddd">
            <img src="../../../static/images/backgrounds/email-icon.png" alt="Email" class="img-thumbnail">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" style="border:0px solid 
      #ddd">
            <p><br>
                contact@robotech-sorbonne.com
            </p>
          </div>
        </div>
      </div>
      <br><br><br>
</template>