// Nunito google font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

// Fontawesome font
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

// Bootstrap
// Override Bootstrap variables
@import './variables.scss';
@import 'bootstrap/scss/bootstrap';
// // Required
// @import 'bootstrap/scss/functions';
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/root";
// // Optional Bootstrap components here
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/type";
// @import "bootstrap/scss/grid";

main > div {
  padding: 80px 20px 0;
}

.background {
  background-image: url('../static/images/backgrounds/robotech-background.png');   // Image comme fond d'écran
  //background-color: $background; // (44,44,44) pour thème sombre
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.loading-indicator {
  position: fixed;
  top: 54px;
}

.navbar-logo {
  height: 36px;
}
