$font-family-sans-serif: 'Nunito', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif !default;


// Couleurs principales qu'on utilisera
$info: white;
$primary: #2c7dc9; // #00407b Thème clair / #477fb3 Thème sombre
$secondary: #e41d4b; // #e41d4b Thème clair / #
$dark : #444444;  
$background : #281a1a; // #white Thème clair /  #333333 Thème sombre
$enable-shadows: true;

$progress-border-radius: 8px;
$progress-height: 0;
